<!doctype html>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
<meta http-equiv="Refresh" content="600">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<title>FATBABY-2</title>

    <div class="next-feeding"><p>Next feeding: <div class="make-bold">{{baby_update.pretty_next_feed}}</div></p></div>
    <div class="last-feeding"><p>Last feeding: {{baby_update.pretty_most_recent_feed}}</p></div>
    <div class="last-dirty-diaper"><p>Last dirty diaper: {{baby_update.pretty_most_recent_dirty_diaper}}</p></div>
